/* Base Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/* Base Stylings */

body {
    background-color: rgb(190, 202, 233);
    overflow-y: scroll;
    scrollbar-width: thin;
}

li {
    list-style: none;
}

legend {
    text-align: center;
    font-size: 48px;
    padding: 0 10px;
    margin: 10px auto;
    max-width: 90%;
}

fieldset {
    padding: 10px;
    margin: 0 auto;
    max-width: 90%;
}

select {
    padding: 3px;
    margin: 5px;
}

label {
    margin: 5px;
}

/* Button Setups */

button {
    background: none;
    width: 35%;
    border: 1px white solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    margin: 10px auto;
}

.js-bookmark-new, .js-bookmark-add, .js-bookmark-edit {
    background-color: rgb(167, 238, 167);
}

.js-bookmark-cancel, .js-bookmark-delete {
    background-color: rgb(235, 137, 137);
}

/* Bookmark Styling */

.bookmark-bar label{
    text-align: right;
}

.bookmark-container {
    width: 100%;
    margin: 10px auto;
    display: block;
    border: 1px solid black;
    background-color: rgb(177, 177, 177);
}

.js-bookmark-element {
    border: 1px solid black;
}

.bookmark-bar {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.bookmark-bar-title {
    width: 70%;
    margin: 5px;
    font-size: 24px;
}

.bookmark-rating-title {
    position: absolute;
    padding: 0px 5px;
    z-index: 1;
}

.bookmark-bar-rating {
    width: 40%;
    margin: 0px 5px;
    background-color: rgb(236, 236, 236);
    height: 20px;
    border: 1px black solid;
    border-radius: 5px;
}

.bookmark-bar-fill {
    position: relative;
    height: 20px;
    background-color: rgb(223, 205, 231);
}

/* Bookmark Examine Styling */

.bookmark-desc {
    background-color: white;
    padding: 10px 5px;
    margin: 0 10px;
    border: 1px inset;
    border-radius: 5px;
}

.description-box {
    width: 100%;
    height: 50px;
    background: white;
}

/* Add/Edit Bookmark Stylings */

.bookmark-name-box, .bookmark-url-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

input {
    width: 80%;
    height: 1.4rem;
    padding: 5px;
}

.bookmark-desc-box {
    margin: 20px auto;
}

#bookmark-desc-entry {
    width: 100%;
    padding: 10px;
}

/* Error styling */

#js-error-message {
    display: block;
    margin: 10px auto;
    padding: 5px 0;
    text-align: center;
    color: white;
    background-color: rgb(206, 46, 46);
    border-radius: 10px;
}