/* Base Resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


/* Base Stylings */

body {
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    overflow: scroll;
    font-size: 1.1rem;
    background-color: rgb(195, 201, 231);
}

li {
    list-style: none;
}

legend {
    text-align: center;
    font-size: 48px;
    padding: 0 10px;
    margin: 10px auto;
    max-width: 90%;
}

fieldset {
    padding: 10px;
    margin: 0 auto;
    max-width: 90%;
    background-color: rgb(232, 223, 241);
}

select {
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgb(214, 191, 230);
}

label {
    margin: 5px;
    overflow-wrap: break-work;
}

textarea {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

/* Button Setups */

button {
    background: none;
    width: 35%;
    height: 90%;
    border: 1px white solid;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
}

.button-container {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    margin: 10px auto;
}

.js-bookmark-new, .js-bookmark-add, .js-bookmark-edit, .js-bookmark-edit-submit {
    background-color: rgb(205, 245, 252);
}

.js-bookmark-cancel, .js-bookmark-delete {
    background-color: rgb(235, 137, 137);
}

/* Bookmark Styling */

#js-bookmark-form {
    margin: 10px auto;
    padding: 20px 0;
}

.bookmark-bar label{
    text-align: right;
}

.bookmark-top-bar {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    height: 50px;
}

.filter-bar {
    display: flex;
    flex-flow: row;
}

.bookmark-container {
    width: 100%;
    margin: 10px auto;
    display: block;
}

.js-bookmark-element {
    border: 1px solid rgb(33, 19, 41);
    background-color: rgb(214, 191, 230);
    border-radius: 10px;
}

.bookmark-bar {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.bookmark-bar-title {
    width: 70%;
    margin: 5px;
    font-size: 24px;
}

.bookmark-rating-title {
    position: relative;
    padding: 0px 5px;
    top: -25px;
}

.bookmark-bar-rating {
    width: 40%;
    margin: 0px 5px;
    background-color: rgb(236, 236, 236);
    height: 30px;
    border: 1px black solid;
    border-radius: 5px;
    overflow: hidden;
}

.bookmark-bar-fill {
    height: 30px;
    background-color: rgb(206, 176, 253);
}

/* Bookmark Examine Styling */

.bookmark-desc {
    background-color: white;
    padding: 10px;
    margin: 0 10px;
    border: 1px inset;
    border-radius: 5px;
}

.description-box {
    width: 100%;
    height: 50px;
    background: white;
}

/* Add/Edit Bookmark Stylings */

.bookmark-name-box, .bookmark-url-box {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}

input {
    width: 80%;
    height: 1.6rem;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2rem;
}

.bookmark-desc-box {
    margin: 20px auto;
}

#bookmark-desc-entry {
    width: 100%;
    padding: 10px;
}

/* Error styling */

#js-error-message {
    display: block;
    margin: 10px auto;
    padding: 5px 0;
    text-align: center;
    color: white;
    background-color: rgb(206, 46, 46);
    border-radius: 10px;
}

/* Media queries */
/* Only one is needed for this -- The framework is simple enough to handle most screens. */

@media screen and (min-width: 1024px) {

    #js-bookmark-form {
        width: 1024px;
        margin: 0 auto;
    }

}